body {
  background-color: #eee;
}

.wrap {
  max-width: 600px;
}

.wrap .page-title {
  color: #333;
  font-size: 4.5rem;
  border-top: 10px solid #333;
  border-bottom: 10px solid #333;
}

.wrap .card_ {
  width: 100%;
}

.wrap .card_ > li {
  padding: 1rem 2.5rem;
  border: 1px solid #333;
  margin-bottom: -1px;
}

.wrap .card_ h3.location {
  font-size: 2.25rem;
}

.wrap .card_ .date {
  font-size: 1rem;
}

.wrap .card_ .time {
  font-size: 4.5rem;
  line-height: 1em;
}

.wrap .card_ h1,
.wrap .card_ h2,
.wrap .card_ h3,
.wrap .card_ h4,
.wrap .card_ h5,
.wrap .card_ h6 {
  font-weight: bold;
}

.wrap h1,
.wrap h2,
.wrap h3,
.wrap h4,
.wrap h5,
.wrap h6 {
  line-height: 1.4em;
}
