//- * js => assets/js/componentsHandler/messageModel.js
mixin messageModel
    #messageBackdrop.backdrop
        .backdrop__card.font-bold.text-center
            h2#requestingText.text-primary-500.text-xl.animate-pulse
                span 取得資料中，請稍後
            h2#errorText.text-danger-500.text-xl.hidden
                span 獲取資料失敗，請稍後重新整理
            h2#successText.text-success-500.text-xl.hidden
                span 資料取得成功!