block footer
	.footer-padding
	footer.footer
		ul.menu.simple
			li
				h2.mb-0 僅做學習用 - 設計稿來源為六角學院 | 
			li
				a(href="https://github.com/kevinshu1995") 
					i.fab.fa-github
					|  kevinshu1995
	script(src="assets/js/vendors.js")
	script(src="assets/js/all.js")