block footer
	.footer-padding
	footer.footer.padding-vertical-12.text-center(class=nav_darkbg ? 'bg-foundation-dark' : '')
		ul.menu.vertical.align-center
			li
				h6.ct-font-1.margin-bottom-0
					span 設計稿來源為六角學院
			li.ct-font-1
				a.animate__animated.hover-pulse(href="https://github.com/kevinshu1995") 
					i.fab.fa-github.margin-right-1
					span kevinshu1995
				a.animate__animated.hover-pulse(href="mailto:kevinshu1995@gmail.com") 
					i.fas.fa-paper-plane.margin-right-1
					span Email Me
	script(src="assets/js/vendors.js")
	script(src="assets/js/all.js")