block footer
    footer.footer
        h2 僅做學習用 - 設計稿來源為六角學院 | 
        a(href="https://github.com/kevinshu1995") 
            i.fab.fa-github
            |  kevinshu1995
    script(src="assets/js/all.js")