block footer
	.pb-28
	footer.absolute.text-white.left-0.bottom-0.w-full.py-8.text-center.bg-black
		h6.text-sm.mb-2 &copy; 2020-2021, Kevin Hsu - 許文修
		ul.flex.justify-center.space-x-4.text-xs
			li 
				a.text-white(href="https://github.com/kevinshu1995")
					i.fab.fa-github.mr-2
					| kevinshu1995
			li 
				a.text-white(href="mailto:kevinshu1995@gmail.com")
					i.fas.fa-paper-plane.mr-2 
					| Email Me
	//- script(src="assets/js/vendors.js")
	script(src="assets/js/all.js")