block nav
	.navwrap
		.title-bar(data-responsive-toggle='responsive-menu' data-hide-for='medium')
			button.menu-icon(type='button' data-toggle='responsive-menu')
			//- .title-bar-title
				a(href="index.html") JS-地下城
		#responsive-menu.top-bar.main__menu(class=nav_darkbg ? 'bg-foundation-dark' : '')
			.top-bar-left
				ul.menu
					li.animate__animated.animate__fadeInTopLeft
						a.font-bold.logo.text-primary(href="index.html") JS Dungeon
			.top-bar-right
				ul.menu
					li.animate__animated.animate__fadeInTopRight
						a(href="jsDun-001.html") 001-九九乘法表
					li.animate__animated.animate__fadeInTopRight.animate__delay-1s
						a(href="jsDun-002.html") 002-時鐘
					li.animate__animated.animate__fadeInTopRight.animate__delay-2s
						a(href="jsDun-003.html") 003-計算機
			.top-bar-right
				ul.menu.simple.animate__animated.animate__fadeInTopRight
					li
						a(target="_blank" href="https://github.com/kevinshu1995")
							i.fab.fa-github
					li
						a(target="_blank" href="mailto:kevinshu1995@gmail.com")
							i.fas.fa-paper-plane

