block nav
    nav.nav
        h1 JS-地下城
        ul.navbar#js-navBar
            | 展開
        ul.nav__list#js-navList
            li
                a(href="jsDun-001.html") 001-九九乘法表
            li
                a(href="jsDun-002.html") 002-時鐘