.index__title {
    color: get-color(primary);
    @include font-bold($global-weight-bold);
}

.index__content {
    color: get-color(secondary);
}

.index {
    .avatar-Wrap {
        max-width: 150px;
        height: auto;
        @include border-rounded;
        @include overflow(hidden);
    }
    .label--rounded {
        @include label;
        @include border-rounded;
    }
}
