extend ./modules/layout.pug
include mixins/socialLinksNav

block append head
	- var needreset = true
	- var id = '003' // /page.config.json
	title JSDungeon | JS地下城 | 003 | 計算機 | Calculator
	link(rel="stylesheet" href="assets/style/pageStyle/style003.css")

block content
	+socialLinksNav(id)
	.fix-height(style="min-height: 100vh")
	.wrap
		.title.clearfix
			h3#current_formula
			h2#current_answer
		ul.btnsWrap
			li.btn_(data-action="7") 7
			li.btn_(data-action="8") 8
			li.btn_(data-action="9") 9
			li.btn_.l-bgcolor-pri(data-action="division") ÷
			li.btn_(data-action="4") 4
			li.btn_(data-action="5") 5
			li.btn_(data-action="6") 6
			li.btn_.l-bgcolor-pri(data-action="times") ×
			li.btn_(data-action="1") 1
			li.btn_(data-action="2") 2
			li.btn_(data-action="3") 3
			li.btn_.l-bgcolor-pri(data-action="plus") +
			li.btn_(data-action="0") 0
			li.btn_(data-action="d-0") 00
			li.btn_(data-action="point") .
			li.btn_.l-bgcolor-pri(data-action="minus") −
			li.btn_.l-color-pri(data-action="ac") AC
			li.btn_.l-color-pri(data-action="delete")
				i.fas.fa-backspace(data-action="delete")
				span.l-fz0.clearfix(data-action="delete") delete
			li.btn_.l-btn--w2(data-action="equal") =

block footer
	include ./modules/footer
	script(src='assets/js/js003.js')