extend ./modules/layout.pug

block append head
	- var needreset = true
	title JSDungeon | JS地下城 | 004 | 時區 | world-clock
	link(rel="stylesheet" href="assets/style/pageStyle/style004.css")

block content
	.wrap
		h2.font-weight-bold.align-center.page-title WORLD CLOCK
		ul.card.font-weight-bold
			li.bg-dark.d-flex.justify-content-between
				.card-left.d-flex.flex-wrap.w-50.align-left.justify-content-between
					.location.w-100 NEW YORK
					.date.w-100.font-style-italy 27 JAN. 2019
				.card-right.w-50.align-right
					.time 02:46
			li.bg-light.d-flex.justify-content-between
				.card-left.d-flex.flex-wrap.w-50.align-left.justify-content-between
					.location.w-100 NEW YORK
					.date.w-100.font-style-italy 27 JAN. 2019
				.card-right.w-50.align-right
					.time 02:46
			li.bg-light.d-flex.justify-content-between
				.card-left.d-flex.flex-wrap.w-50.align-left.justify-content-between
					.location.w-100 NEW YORK
					.date.w-100.font-style-italy 27 JAN. 2019
				.card-right.w-50.align-right
					.time 02:46
			li.bg-light.d-flex.justify-content-between
				.card-left.d-flex.flex-wrap.w-50.align-left.justify-content-between
					.location.w-100 NEW YORK
					.date.w-100.font-style-italy 27 JAN. 2019
				.card-right.w-50.align-right
					.time 02:46
			li.bg-dark.d-flex.justify-content-between
				.card-left.d-flex.flex-wrap.w-50.align-left.justify-content-between
					.location.w-100 NEW YORK
					.date.w-100.font-style-italy 27 JAN. 2019
				.card-right.w-50.align-right
					.time 02:46
block footer
	include ./modules/footer
	script(src='assets/js/js004.js')