extend ./modules/layout.pug

block append head
	title JSDungeon | JS地下城 | 001 | 九九乘法表 | MULTIPLICATION CHART
	link(rel="stylesheet" href="assets/style/style001.css")

block content
	ul#mainList.wrap
		li.l-card-title
			h1 九九乘法表
			h2 MULTIPLICATION CHART
		li.l-card
			ul.l-card__wrap
				li.l-card__title 2
				li 2x1=2
				li 2x2=2
				li 2x3=2
				li 2x4=2
				li 2x5=21
				li 2x6=2
				li 2x7=2
				li 2x8=2
				li 2x9=2

block footer
	include ./modules/footer
	script(src='assets/js/js001.js')