extend ./modules/layout.pug

block append head
	title JSDungeon | JS地下城 | 002 | 時鐘 | Clock
	link(rel="stylesheet" href="assets/style/pageStyle/style002.css")

block content
	.clock-bg
		.clock__body
			.clock__body__deco
				.hour0
				.hour30
				.hour60
				.hour90
				.hour120
				.hour150
				.min1.min
				.min2.min
				.min3.min
				.min4.min
				.min6.min
				.min7.min
				.min8.min
				.min9.min
				.min11.min
				.min12.min
				.min13.min
				.min14.min
				.min16.min
				.min17.min
				.min18.min
				.min19.min
				.min21.min
				.min22.min
				.min23.min
				.min24.min
				.min26.min
				.min27.min
				.min28.min
				.min29.min
			.clock__body__decoTxt
				.hourTxt.hour1
				.hourTxt.hour2
				.hourTxt.hour3
				.hourTxt.hour4
				.hourTxt.hour5
				.hourTxt.hour6
				.hourTxt.hour7
				.hourTxt.hour8
				.hourTxt.hour9
				.hourTxt.hour10
				.hourTxt.hour11
				.hourTxt.hour12
			.clock__body__hand
				#hourHand.hourHand
				#minHand.minHand
				#secHand.secondHand
block footer
	include ./modules/footer
	script(src='assets/js/js002.js')