$root-animate-duration: 0.5s;
$root-animate-delay: 0.5s;
:root {
    --animate-duration: $root-animate-duration;
    --animate-delay: $root-animate-delay;
}

@mixin animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@mixin animate__fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@mixin animate__slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
}

@mixin animate__slideOutDown {
    -webkit-animation-name: slideOutDown;
    animation-name: slideOutDown;
}

@mixin animate__fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@mixin animate__zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

@mixin animate__zoomOut {
    -webkit-animation-name: zoomOut;
    animation-name: zoomOut;
}

@mixin animate__flipInX {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInX;
    animation-name: flipInX;
}

// Options
@mixin animate__duration($time) {
    -webkit-animation-duration: $time;
    animation-duration: $time;
}

.hover-pulse:hover {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    --animate-duration: 0.5s;
}

.index {
    .animate__fadeInUp {
        --animate-duration: 1s;
    }
}
