body {
    @include position(relative, null, null, null, null);
    min-height: 100vh;
    overflow-x: hidden;
}

a {
    color: get-color(content);
    &.text-primary {
        color: get-color(primary);
        &:hover {
            color: lighten(get-color(primary), 15%);
        }
    }
    &:hover {
        color: get-color(primary);
    }
}

.card-section {
    padding-left: 0;
    padding-right: 0;
}
