.wrap{
    margin: auto;
    max-width: 535px;
}
.page-title{
    $color: #333;
    color: $color;
    font-size: 4.5rem;
    border-top: 10px solid $color;
    border-bottom: 10px solid $color;
}
.card{
    width: 100%;
    $card-base-font: 1rem;
    $card-border-color: #333;
    & > li{
        padding: 1rem 2.5rem;
        border: 1px solid $card-border-color;
        margin-bottom: -1px;
    }
    .location{
        font-size: $card-base-font * 2.25;
    }
    .date{
        font-size: $card-base-font;
    }
    .time{
        font-size: $card-base-font *4.5 ;
    }
}