$dark-bg: #333;
$dark-font: #fff;
$light-bg: #fff;
$light-font: #333;

.bg-dark {
    background-color: $dark-bg;
    color: $dark-font;
}
.bg-light {
    background-color: $light-bg;
    color: $light-font;
}

.d-flex {
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.flex-wrap {
    flex-wrap: wrap;
}

//長度
.w-50 {
    width: 50%;
}
.w-100 {
    width: 100%;
}

//Height
.min-vh-100 {
    min-height: 100vh;
}

// 文字處理
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}
.font-style-italy {
    font-style: italic;
}
.font-weight-bold {
    font-weight: bold;
}

.mark-primary {
    color: get-color(primary);
}

//font-size
$custom-font-size-base: 1rem;
$font-size-range: 10;
@mixin font-size($size) {
    .ct-font-#{$size} {
        font-size: $custom-font-size-base * 0.5 + $size * 0.25;
    }
}
@for $i from 1 through $font-size-range {
    @include font-size($i);
    //.ct-font-1 = 12px / 0.75rem
    //.ct-font-2 = 16px / 1rem
    //.ct-font-3 = 20px / 1.25rem
    //.ct-font-4 = 24px / 1.5rem
    //.ct-font-5 = 28px / 1.75rem
    //.ct-font-6 = 32px / 2rem
    //.ct-font-7 = 36px / 2.25rem
    //.ct-font-8 = 40px / 2.5rem
    //.ct-font-9 = 44px / 2.75rem
    //.ct-font-10 = 48px / 3rem
}

// * loop | margin, padding 只有上下左右 沒有 x,y,auto,全部
// $max: 10;
// $offset: 1;
// $unit: "rem"; // Feel free to change the unit.
// $num: 0;
// $num-offset: 0.25;
// @mixin list-loop($className, $styleName) {
//     $i: 0;
//     @while $i <= $max {
//         #{$className + $i} {
//             #{$styleName}: #{$num + $unit};
//         }
//         $i: $i + $offset;
//         $num: $num + 0.25;
//     }
// }

// @mixin spacing-loop($ta-space) {
//     $names: (
//         "padding": "p",
//         "margin": "m",
//     );
//     $direction: (
//         "t": "top",
//         "r": "right",
//         "b": "bottom",
//         "l": "left",
//     );
//     @each $ori-name, $abbr-name in $names {
//         @each $abbr-direction, $ori-direction in $direction {
//             @include list-loop(
//                 ".#{$abbr-name}#{$abbr-direction}-",
//                 "#{$ori-name}-#{$ori-direction}"
//             );
//         }
//     }
// }

// @include spacing-loop("padding");
// @include spacing-loop("margin");
